# Exploratory Analysis of Import Data

This notebook explores the PIERS Bill of Lading data, obtained from S&P's Global Trade Analytics Suite. See the README.md file for more info on the overall project, data pre-processing, and column definitions.

In [1]:
#import libraries
import pandas as pd
import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px

#display settings
pd.set_option('display.max_columns', None)
%matplotlib inline

#enable string cache for polars categoricals
pl.enable_string_cache()

## Basic Summary Stats

This sections presents basic summary statistics on each variable in the dataset. See the [discussion below regarding known issues with the dataset](#known-data-issues)

In [2]:
#shape and basic counts

#set paths
imports_path = 'data/clean/imports/'
exports_path = 'data/'

#get schema and col names
imports_schema = pl.read_parquet_schema(source= imports_path+'piers_imports_2005.parquet')
imports_colnames = imports_schema.keys()
exports_schema = pl.read_parquet_schema(source=exports_path+'piers_exports_complete.parquet')
exports_colnames = exports_schema.keys()

#init lazy dataframes
imports_lzdf = pl.scan_parquet(imports_path+'*.parquet', parallel='columns')
exports_lzdf = pl.scan_parquet(exports_path+'piers_exports_complete.parquet', parallel='columns')

#get number of observations
imports_n = imports_lzdf.select(pl.count()).collect().item()
exports_n = exports_lzdf.select(pl.count()).collect().item()
print('The imports dataset has {:,} rows and {} columns.'.format(imports_n, len(imports_schema)))
print('The exports dataset has {:,} rows and {} columns.'.format(exports_n, len(exports_schema)))

The imports dataset has 178,875,896 rows and 44 columns.
The exports dataset has 68,769,489 rows and 31 columns.

In [3]:
#view head of imports dataframe
print('Imports dataframe preview:')
imports_lzdf.limit(n=3).collect()

Imports dataframe preview:

shape: (3, 44)
┌────────┬─────────────┬───────┬──────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ weight ┆ weight_unit ┆ qty   ┆ qty_type ┆ … ┆ inbond_code ┆ transport_ ┆ bol_number ┆ bol_id     │
│ ---    ┆ ---         ┆ ---   ┆ ---      ┆   ┆ ---         ┆ mode       ┆ ---        ┆ ---        │
│ f64    ┆ cat         ┆ f64   ┆ cat      ┆   ┆ f64         ┆ ---        ┆ str        ┆ str        │
│        ┆             ┆       ┆          ┆   ┆             ┆ cat        ┆            ┆            │
╞════════╪═════════════╪═══════╪══════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 0.0    ┆ KG          ┆ 19.0  ┆ PCS      ┆ … ┆ null        ┆ null       ┆ HBGSF10809 ┆ PONL_HBGSF │
│        ┆             ┆       ┆          ┆   ┆             ┆            ┆            ┆ 10809      │
│ 0.0    ┆ KG          ┆ 329.0 ┆ CTN      ┆ … ┆ null        ┆ null       ┆ 0509SGA017 ┆ CNFT_0509S │
│        ┆             ┆       ┆          ┆   ┆             ┆            ┆ F          ┆ GA017F     │
│ 0.0    ┆ KG          ┆ 14.0  ┆ CTN      ┆ … ┆ null        ┆ null       ┆ BCNLE2687B ┆ CSCN_BCNLE │
│        ┆             ┆       ┆          ┆   ┆             ┆            ┆            ┆ 2687B      │
└────────┴─────────────┴───────┴──────────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [4]:
#view head of exports dataframe 
print('Exports dataframe preview:')
exports_lzdf.limit(n=3).collect()

Exports dataframe preview:

shape: (3, 31)
┌─────────┬────────────┬────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ shipper ┆ shipper_ad ┆ weight ┆ weight_uni ┆ … ┆ dest_regio ┆ dest_port_ ┆ dest_port ┆ bol_id    │
│ ---     ┆ dress      ┆ ---    ┆ t          ┆   ┆ n          ┆ code_decla ┆ _name     ┆ ---       │
│ str     ┆ ---        ┆ f64    ┆ ---        ┆   ┆ ---        ┆ red        ┆ ---       ┆ str       │
│         ┆ str        ┆        ┆ cat        ┆   ┆ cat        ┆ ---        ┆ cat       ┆           │
│         ┆            ┆        ┆            ┆   ┆            ┆ cat        ┆           ┆           │
╞═════════╪════════════╪════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ null    ┆ null       ┆ 0.0    ┆ KG         ┆ … ┆ MIDDLE     ┆ 51721      ┆ JEDDAH    ┆ AUTO_0310 │
│         ┆            ┆        ┆            ┆   ┆ EAST       ┆            ┆           ┆ 2         │
│ null    ┆ null       ┆ 0.0    ┆ KG         ┆ … ┆ CARIBBEAN  ┆ 90309      ┆ SAN JUAN  ┆ CRLS_JAXS │
│         ┆            ┆        ┆            ┆   ┆            ┆            ┆           ┆ 5M138856  │
│ null    ┆ null       ┆ 0.0    ┆ KG         ┆ … ┆ NORTH EAST ┆ 58309      ┆ KAOHSIUNG ┆ HJSC_LGBA │
│         ┆            ┆        ┆            ┆   ┆ ASIA       ┆            ┆           ┆ 05312805  │
└─────────┴────────────┴────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [5]:
#Summary stats for Imports

#init df and get stats labels column
imports_summarystats_df = imports_lzdf.select(pl.first()).collect().describe().select(pl.first()).to_pandas()
#loop through columns and get descriptive stats
for column in imports_colnames:
    imports_summarystats_df[column] = imports_lzdf.select(pl.col(column)).collect().describe().select(column).to_pandas()
#display
print('Summary Stats - Imports')
imports_summarystats_df

Summary Stats - Imports

,describe,weight,weight_unit,qty,qty_type,teus,value_est,date_arrival,container_piece_count,commod_short_desc_qty,origin_territory,origin_region,arrival_port_code,arrival_port_name,departure_port_code,departure_port_name,dest_final,coast_region,clearing_district,place_receipt,shipper_name,shipper_address,consignee_name,consignee_address,notify_party1_name,notify_party1_address,notify_party2_name,notify_party2_address,commod_desc_raw,container_id_marks,marks_desc,hs_code,joc_code,commod_short_desc,container_ids,carrier_name,carrier_scac,vessel_name,voyage_id,precarrier,vessel_id,inbond_code,transport_mode,bol_number,bol_id
0,count,1.788759e+08,178875896,1.788759e+08,150054988,1.788759e+08,1.788759e+08,178875896,1.788759e+08,178875850,178004511,178004511,178842823,178842823,178399200,178399200,178875896,178767698,138267806,178028936,177152819,149352161,177316770,158522570,131500774,147349739,11190643,80229284,153344894,178875896,178875896,178875850,178875850,178875850,178875896,178743544,178875872,167484536,178875896,0.0,1.673943e+08,4.599980e+07,54698436,178875896,178875896
1,null_count,0.000000e+00,0,0.000000e+00,28820908,0.000000e+00,0.000000e+00,0,0.000000e+00,46,871385,871385,33073,33073,476696,476696,0,108198,40608090,846960,1723077,29523735,1559126,20353326,47375122,31526157,167685253,98646612,25531002,0,0,46,46,46,0,132352,24,11391360,0,178875896.0,1.148159e+07,1.328761e+08,124177460,0,0
2,mean,4.740686e+04,None,1.203557e+03,None,1.285770e+00,7.808732e+04,None,1.440886e+00,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,9.338100e+06,3.066917e+02,None,None,None
3,std,1.721627e+06,None,4.090204e+05,None,3.112699e+00,2.853759e+06,None,3.409732e+00,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,2.850288e+05,1.059749e+03,None,None,None
4,min,0.000000e+00,None,-7.456109e+07,None,0.000000e+00,0.000000e+00,2005-01-01 00:00:00,0.000000e+00,,None,None,None,None,None,None,None,None,None,None,,,,,,,& OPTCO,,,,,,,,,None,None,,,NaN,0.000000e+00,0.000000e+00,None,$70050200001,-1_CSHSE0009996
5,25%,0.000000e+00,None,1.000000e+00,None,0.000000e+00,0.000000e+00,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,9.248112e+06,0.000000e+00,None,None,None
6,50%,1.466000e+03,None,3.800000e+01,None,2.200000e-01,6.571000e+03,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,9.332884e+06,0.000000e+00,None,None,None
7,75%,1.501000e+04,None,4.000000e+02,None,2.000000e+00,4.552600e+04,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,9.462706e+06,0.000000e+00,None,None,None
8,max,6.172936e+09,None,3.531460e+09,None,1.730750e+03,9.981402e+09,2023-11-30 00:00:00,9.990000e+02,9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9...,None,None,None,None,None,None,None,None,None,None,“COOPERATIVA OPERAI CAVATORI DEL BOTTICINO,ÞORRASALIR 13,C MCCRACKEN,ŠILUTES STR 9,C MCCRACKEN,ŠILUTES STR 9,ZYP COATINGS,co RMI Titanium Company LLC 208, WORKING GLOVES,}No MarksNo MarksNo Marks,; ; ; ; ; ; ; ; ; ; ; ,ddedo,Y-,"ZIRCONIUM; SAND,FLOUR,SPONGE,POWDER VALVES; EN...",vTA1108,None,None,ZYGI,^144,NaN,9.975363e+06,7.122000e+03,None,_YLC158932,zimu_ZIMUZHJ0000952

In [6]:
#Summary stats for Exports

#NOTE at the moment the exports dataset may fit in memory, in which case the below code could be accomplished more efficiently
#by executing the following line; however, the main code below should run even when the dataset does not fit in memory. 
#exports_lzdf.collect().describe()

#init df and get stats labels column
exports_summarystats_df = exports_lzdf.select(pl.first()).collect().describe().select(pl.first()).to_pandas()
#loop through columns and get descriptive stats
for column in exports_colnames:
    exports_summarystats_df[column] = exports_lzdf.select(pl.col(column)).collect().describe().select(column).to_pandas()
#display
print('Summary Stats - Exports')
exports_summarystats_df

Summary Stats - Exports

,describe,shipper,shipper_address,weight,weight_unit,quantity,quantity_type,teus,carrier_name,carrier_scac,vessel_name,voyage_number,bol_number,vessel_id,value_est,departure_port_code,departure_port_name,container_ids,container_piece_count,coast_region,commod_desc_raw,commod_short_desc,hs_code,joc_code,commod_short_desc_qty,date_departure,origin,dest_territory,dest_region,dest_port_code_declared,dest_port_name,bol_id
0,count,52901485,51534703,6.876949e+07,68769489,6.876949e+07,61810793,6.876949e+07,68595453,68768115,63384893,67625608,68769456,6.323115e+07,6.876949e+07,68720145,68720145,68769489,6.876949e+07,68769013,53168182,68769437,68769437,68769437,68769437,68769489,68769489,68279599,68279599,68299282,68299282,68769456
1,null_count,15868004,17234786,0.000000e+00,0,0.000000e+00,6958696,0.000000e+00,174036,1374,5384596,1143881,33,5.538337e+06,0.000000e+00,49344,49344,0,0.000000e+00,476,15601307,52,52,52,52,0,0,489890,489890,470207,470207,33
2,mean,None,None,1.152067e+05,None,3.965311e+04,None,1.672979e+00,None,None,None,None,None,9.159625e+06,1.415664e+05,None,None,None,1.923483e+00,None,None,None,None,None,None,None,None,None,None,None,None,None
3,std,None,None,2.375519e+06,None,3.471335e+06,None,5.518306e+00,None,None,None,None,None,5.438769e+05,6.466967e+06,None,None,None,1.109810e+01,None,None,None,None,None,None,None,None,None,None,None,None,None
4,min,,,0.000000e+00,None,-1.467123e+09,None,0.000000e+00,None,None,,,,1.960000e+02,0.000000e+00,None,None,,0.000000e+00,None,,,,,,2005-01-01 00:00:00,,None,None,None,None,079A_26004878070
5,25%,None,None,0.000000e+00,None,0.000000e+00,None,0.000000e+00,None,None,None,None,None,9.143568e+06,0.000000e+00,None,None,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None
6,50%,None,None,1.360800e+02,None,1.300000e+01,None,0.000000e+00,None,None,None,None,None,9.295220e+06,4.080000e+02,None,None,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None
7,75%,None,None,1.919696e+04,None,1.780000e+02,None,2.000000e+00,None,None,None,None,None,9.398424e+06,4.627100e+04,None,None,None,1.000000e+00,None,None,None,None,None,None,None,None,None,None,None,None,None
8,max,SUNSET TRANSPORTATION SERVICE,,9.529981e+08,None,3.716633e+09,None,3.729250e+03,None,None,xin yang shan,|SAL5,PE10518042,9.980629e+06,1.000000e+10,None,None,~POPLAR AVE |SAVALY762976 _38197 WFHU5153172 W...,4.136000e+03,None,ÙTEEL GUARD RAIL; ÙTEEL GUARD RAILS,"ZIRCONIUM; SAND,FLOUR,SPONGE,POWDER ZIRCONIUM ...",ddedo,9669000 7746000 1301000 6830000,9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9; 9...,2023-11-30 00:00:00,,None,None,None,None,zzzz_ZZZZ

In [7]:
#Counts of top imports categorical columns

#get categorical cols
imports_catcols_lzdf = (
    imports_lzdf.select(pl.col(pl.Categorical))
)
#init top cats df
imports_topcats_df = pl.DataFrame()

for colname in imports_catcols_lzdf.columns:
    col_counts_df = (
        #select column
        imports_catcols_lzdf.select(pl.col(colname))
        .collect()
        .to_series()
        #get top 10 value counts
        .value_counts()
        .sort('count', descending=True)
        .limit(10)
        #rename count column
        .rename({'count': colname + '_count'})
    )
    #stack dfs horizontally 
    imports_topcats_df = pl.concat([imports_topcats_df, col_counts_df], how='horizontal')

print('Counts of top 10 categories for each categorical variable in imports database:')
imports_topcats_df

Counts of top 10 categories for each categorical variable in imports database:

shape: (10, 30)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ weight_un ┆ weight_un ┆ qty_type ┆ qty_type_ ┆ … ┆ carrier_s ┆ carrier_s ┆ transport ┆ transport │
│ it        ┆ it_count  ┆ ---      ┆ count     ┆   ┆ cac       ┆ cac_count ┆ _mode     ┆ _mode_cou │
│ ---       ┆ ---       ┆ cat      ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ nt        │
│ cat       ┆ u32       ┆          ┆ u32       ┆   ┆ cat       ┆ u32       ┆ cat       ┆ ---       │
│           ┆           ┆          ┆           ┆   ┆           ┆           ┆           ┆ u32       │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ KG        ┆ 178875896 ┆ CTN      ┆ 50685096  ┆ … ┆ MAEU      ┆ 13023524  ┆ null      ┆ 124177460 │
│ null      ┆ null      ┆ CM       ┆ 33078826  ┆ … ┆ EGLV      ┆ 12540853  ┆ MARITIME  ┆ 54698436  │
│ null      ┆ null      ┆ null     ┆ 28820908  ┆ … ┆ CMDU      ┆ 11848743  ┆ null      ┆ null      │
│ null      ┆ null      ┆ PKG      ┆ 20376899  ┆ … ┆ HLCU      ┆ 10899595  ┆ null      ┆ null      │
│ …         ┆ …         ┆ …        ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ null      ┆ null      ┆ BXS      ┆ 3473802   ┆ … ┆ OOLU      ┆ 8323800   ┆ null      ┆ null      │
│ null      ┆ null      ┆ CS       ┆ 3347845   ┆ … ┆ ONEY      ┆ 8070853   ┆ null      ┆ null      │
│ null      ┆ null      ┆ BGS      ┆ 1593183   ┆ … ┆ MSCU      ┆ 7268936   ┆ null      ┆ null      │
│ null      ┆ null      ┆ UNT      ┆ 1403260   ┆ … ┆ HDMU      ┆ 6874957   ┆ null      ┆ null      │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [8]:
#Counts of top exports categorical columns

#get categorical cols
exports_catcols_lzdf = (
    exports_lzdf.select(pl.col(pl.Categorical))
)
#init top cats df
exports_topcats_df = pl.DataFrame()

for colname in exports_catcols_lzdf.columns:
    col_counts_df = (
        #select column
        exports_catcols_lzdf.select(pl.col(colname))
        .collect()
        .to_series()
        #get top 10 value counts
        .value_counts()
        .sort('count', descending=True)
        .limit(10)
        #rename count column
        .rename({'count': colname + '_count'})
    )
    #stack dfs horizontally 
    exports_topcats_df = pl.concat([exports_topcats_df, col_counts_df], how='horizontal')

print('Counts of top 10 categories for each categorical variable in exports database:')
exports_topcats_df

Counts of top 10 categories for each categorical variable in exports database:

shape: (10, 22)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ weight_un ┆ weight_un ┆ quantity_ ┆ quantity_ ┆ … ┆ dest_port ┆ dest_port ┆ dest_port ┆ dest_por │
│ it        ┆ it_count  ┆ type      ┆ type_coun ┆   ┆ _code_dec ┆ _code_dec ┆ _name     ┆ t_name_c │
│ ---       ┆ ---       ┆ ---       ┆ t         ┆   ┆ lared     ┆ lared_cou ┆ ---       ┆ ount     │
│ cat       ┆ u32       ┆ cat       ┆ ---       ┆   ┆ ---       ┆ nt        ┆ cat       ┆ ---      │
│           ┆           ┆           ┆ u32       ┆   ┆ cat       ┆ ---       ┆           ┆ u32      │
│           ┆           ┆           ┆           ┆   ┆           ┆ u32       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ KG        ┆ 68769489  ┆ CF        ┆ 20052121  ┆ … ┆ 90309     ┆ 3911195   ┆ SAN JUAN  ┆ 3911708  │
│ null      ┆ null      ┆ null      ┆ 6958696   ┆ … ┆ 58023     ┆ 2606295   ┆ BUSAN     ┆ 2606295  │
│ null      ┆ null      ┆ UNT       ┆ 6389123   ┆ … ┆ 58201     ┆ 2430256   ┆ HONG KONG ┆ 2430256  │
│ null      ┆ null      ┆ PCS       ┆ 6019382   ┆ … ┆ 57035     ┆ 2193297   ┆ SHANGHAI  ┆ 2193297  │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ null      ┆ null      ┆ PLT       ┆ 2730319   ┆ … ┆ 42157     ┆ 1619013   ┆ ROTTERDAM ┆ 1619013  │
│ null      ┆ null      ┆ CS        ┆ 2713884   ┆ … ┆ 42870     ┆ 1433094   ┆ BREMERHAV ┆ 1433094  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ EN        ┆          │
│ null      ┆ null      ┆ CM        ┆ 2504807   ┆ … ┆ 58886     ┆ 1408627   ┆ TOKYO     ┆ 1408627  │
│ null      ┆ null      ┆ BGS       ┆ 2113310   ┆ … ┆ 55976     ┆ 1347657   ┆ SINGAPORE ┆ 1352763  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Exploratory Stats and Visuals

This section presents basic comparisons between variables and other exploratory analysis. See the [discussion below regarding known issues with the dataset](#known-data-issues)

In [9]:
#create two-way comparisons table

#name columns to compare
imports_2w_cols = ['weight', 'qty', 'qty_type', 'teus', 'date_arrival', 'container_piece_count', 'arrival_port_name', 
                   'departure_port_name', 'origin_territory', 'hs_code', 'joc_code', 'carrier_name', 'carrier_scac', 
                   'vessel_name', 'bol_id']

#create lzdf
imports_2w_lzdf = (
    imports_lzdf.select(imports_2w_cols)
    #create 2-digit hs code 
    .with_columns(pl.col('hs_code').str.slice(0, length=2).alias('hs_2d'))
)

In [10]:
arrival_2w_df = (
    imports_2w_lzdf.group_by('arrival_port_name')
    .agg([
        pl.col('hs_2d').count(),
        pl.col('origin_territory').count(),
        pl.col('carrier_scac').count(),
        pl.col('teus').count(),
        pl.col('bol_id').count()
    ])
    .sort('bol_id', descending=True)
    .limit(50)
    .collect()
)

In [11]:
def count2w(data_lzdf, groupby_colname, counts_colnames, reference_colname, limit=50):
    '''
    Creates a dataframe showing two-way counts of the variables passed. 
    INPUT:
        data_lzdf - a polars lazyframe containing the relevant data
        groupby_colname - the column name to group by
        counts_colnames - a list of column names 
        reference_colname - the reference column. The resultant dataframe will be sorted (descending) and normalized by this column.
                    note: reference_colname must appear in the counts_colnames list. 
    OUTPUT:
        count2w_df - a polars dataframe with the normalized two-way counts for each variable
    Depends on:
        polars
    '''
    counts2w_df = (
        data_lzdf
        .group_by(groupby_colname)
        .agg([
            pl.col(col).count() for col in counts_colnames
        ])
        .sort(reference_colname, descending=True)
        .limit(limit)
        .select([pl.col(groupby_colname)]+[pl.col(col)/pl.col(reference_colname) for col in counts_colnames])
        .collect()
    )
    return counts2w_df

In [12]:
count2w(imports_lzdf, 
        groupby_colname='arrival_port_name', 
        counts_colnames=['teus', 'container_piece_count', 'origin_territory', 'hs_code', 'carrier_scac', 'bol_id'], 
        reference_colname='bol_id', 
        limit=50)

shape: (50, 7)
┌───────────────────┬──────┬──────────────────┬──────────────────┬─────────┬──────────────┬────────┐
│ arrival_port_name ┆ teus ┆ container_piece_ ┆ origin_territory ┆ hs_code ┆ carrier_scac ┆ bol_id │
│ ---               ┆ ---  ┆ count            ┆ ---              ┆ ---     ┆ ---          ┆ ---    │
│ cat               ┆ f64  ┆ ---              ┆ f64              ┆ f64     ┆ f64          ┆ f64    │
│                   ┆      ┆ f64              ┆                  ┆         ┆              ┆        │
╞═══════════════════╪══════╪══════════════════╪══════════════════╪═════════╪══════════════╪════════╡
│ LOS ANGELES       ┆ 1.0  ┆ 1.0              ┆ 0.994696         ┆ 1.0     ┆ 0.999999     ┆ 1.0    │
│ NEW YORK          ┆ 1.0  ┆ 1.0              ┆ 0.996438         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ LONG BEACH        ┆ 1.0  ┆ 1.0              ┆ 0.99438          ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ SAVANNAH          ┆ 1.0  ┆ 1.0              ┆ 0.995334         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ …                 ┆ …    ┆ …                ┆ …                ┆ …       ┆ …            ┆ …      │
│ CLEVELAND         ┆ 1.0  ┆ 1.0              ┆ 0.991219         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ S LOUISIANA       ┆ 1.0  ┆ 1.0              ┆ 0.986472         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ CORPUS CHRSTI     ┆ 1.0  ┆ 1.0              ┆ 0.970323         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
│ RICHMOND VA       ┆ 1.0  ┆ 1.0              ┆ 0.999085         ┆ 1.0     ┆ 1.0          ┆ 1.0    │
└───────────────────┴──────┴──────────────────┴──────────────────┴─────────┴──────────────┴────────┘

In [12]:
#Explore Monthly Volumes

#TEUs by arrival port
teus_by_port_df = (
    imports_lzdf.group_by('arrival_port_name')
    .agg([
        pl.col('teus').sum().alias('teus_sum'),
        pl.col('teus').mean().alias('teus_mean'),
        pl.col('teus').median().alias('teus_median'),
        pl.col('teus').std().alias('teus_std')
    ])
    .sort('teus_sum', descending=True)
    .collect()
)

The above code scans the entire set of parquet files to load the data, then groups by and aggregates the 178M-row dataset... in 2.2 seconds...

In [18]:
teus_by_port_df.describe()

shape: (9, 6)
┌────────────┬───────────────────┬───────────────┬───────────┬─────────────┬───────────┐
│ describe   ┆ arrival_port_name ┆ teus_sum      ┆ teus_mean ┆ teus_median ┆ teus_std  │
│ ---        ┆ ---               ┆ ---           ┆ ---       ┆ ---         ┆ ---       │
│ str        ┆ str               ┆ f64           ┆ f64       ┆ f64         ┆ f64       │
╞════════════╪═══════════════════╪═══════════════╪═══════════╪═════════════╪═══════════╡
│ count      ┆ 230               ┆ 231.0         ┆ 231.0     ┆ 231.0       ┆ 217.0     │
│ null_count ┆ 1                 ┆ 0.0           ┆ 0.0       ┆ 0.0         ┆ 14.0      │
│ mean       ┆ null              ┆ 995641.752544 ┆ 0.656178  ┆ 0.332208    ┆ 1.641072  │
│ std        ┆ null              ┆ 4.7837e6      ┆ 0.990525  ┆ 0.724945    ┆ 3.080996  │
│ min        ┆ null              ┆ 0.0           ┆ 0.0       ┆ 0.0         ┆ 0.0       │
│ 25%        ┆ null              ┆ 0.0           ┆ 0.0       ┆ 0.0         ┆ 0.0       │
│ 50%        ┆ null              ┆ 25.55         ┆ 0.090839  ┆ 0.0         ┆ 0.625437  │
│ 75%        ┆ null              ┆ 2167.17       ┆ 1.151468  ┆ 0.17        ┆ 2.346149  │
│ max        ┆ null              ┆ 4.3232e7      ┆ 6.254595  ┆ 4.5         ┆ 30.078374 │
└────────────┴───────────────────┴───────────────┴───────────┴─────────────┴───────────┘

## Known Data Issues

The below cells inspect known, unresolved issues in the database such as duplicated Bills of Lading, inconsistent carrier names/codes, etc. 

### Duplicate BOLs

In [14]:
#count unique bol_scac IDs
import_bols_unique_n = imports_lzdf.select(pl.col('bol_id')).unique().select(pl.count()).collect().item()
export_bols_unique_n = exports_lzdf.select(pl.col('bol_id')).unique().select(pl.count()).collect().item()

print('{:,} out of {:,} rows ({:.2f}%) in the imports dataset contain duplicated BoLs.'.format(imports_n-import_bols_unique_n, imports_n, (imports_n-import_bols_unique_n)/imports_n*100))
print('{:,} out of {:,} rows ({:.2f}%) in the exports dataset contain duplicated BoLs.'.format(exports_n-export_bols_unique_n, exports_n, (exports_n-export_bols_unique_n)/exports_n*100))

1,158,525 out of 178,875,896 rows (0.65%) in the imports dataset contain duplicated BoLs.
3,488,195 out of 68,769,489 rows (5.07%) in the exports dataset contain duplicated BoLs.

Possible reasons:
- data entry errors
- aggregations of some kind by S&P
- ???

### Missing weight and TEU data 

- weight data is inconsisent prior to 2017
    - inexplicably spiking 2015-2017 
    - inexplicably low 2013-2014
    - entirely missing prior to 2013

- TEU data is similarly strange
    - large jump 2021-2022
    - inexplicably low 2013-2014
    - entirely missing prior to 2013

We are pursuing this with S&P

### Carrier Names

In [15]:
carriers_df = (imports_lzdf.select([pl.col('carrier_scac'), 
                                    pl.col('carrier_name')])
               .unique() 
               .sort('carrier_scac', descending=True)
               .collect()
               )

scac_unique = (
    imports_lzdf.select(pl.col('carrier_scac'))
    .unique()
    .cast(pl.Utf8)
    .sort('carrier_scac')
    .collect()
)
#scac_unique.write_csv('scac_unique.csv')

In [16]:
carriers_df.describe()

shape: (9, 3)
┌────────────┬──────────────┬──────────────┐
│ describe   ┆ carrier_scac ┆ carrier_name │
│ ---        ┆ ---          ┆ ---          │
│ str        ┆ str          ┆ str          │
╞════════════╪══════════════╪══════════════╡
│ count      ┆ 4383         ┆ 3993         │
│ null_count ┆ 1            ┆ 391          │
│ mean       ┆ null         ┆ null         │
│ std        ┆ null         ┆ null         │
│ min        ┆ null         ┆ null         │
│ 25%        ┆ null         ┆ null         │
│ 50%        ┆ null         ┆ null         │
│ 75%        ┆ null         ┆ null         │
│ max        ┆ null         ┆ null         │
└────────────┴──────────────┴──────────────┘

In [17]:
dupscacs_df = (
    carriers_df.drop_nulls(subset='carrier_name')
    .filter(pl.col('carrier_scac').is_duplicated())
)

dupnames_df = (
    carriers_df.drop_nulls(subset='carrier_scac')
    .filter(pl.col('carrier_name').is_duplicated())
    .sort('carrier_name')
)

Discussion:
- There appear to be very few (~200 out of 178M) duplications of SCAC codes based on different spelling or naming of carriers.
- SCAC codes that need to be addressed:
    - 'BULK' (~50 rows)
    - '-1' (1 row)
    - 'ZZZZ' (a carrier scac corresponding to entirely missing carrier name data in this database)
    - these could be coded as null values in the ETL step

# Older code - likely to be dropped

## Value and Volumes by Year:

In [ ]:
#get year col
pldf['year'] = pldf.date_arrival.dt.to_period('Y')
#group value and volume by year
activityacrosstime_df = pldf[['year', 'teus', 'value_est']].groupby('year').sum()
#plot
sns.barplot(data=activityacrosstime_df, x='year', y='value_est');
plt.title('Total Value of Imports Over Time')
plt.xticks(rotation=45);

In [ ]:
#plot
sns.barplot(data=activityacrosstime_df, x='year', y='teus');
plt.title('Total Volume (TEUs) of Imports Over Time')
plt.xticks(rotation=45);

I guess value and volume records weren't kept before ~2015 ?!?

In [ ]:
#group value and volume by year
until2012_df = pldf[pldf['year']< pd.Period(2013)]
until2012_df = until2012_df[['year', 'teus', 'value_est']].groupby('year').sum()
#plot
sns.barplot(data=until2012_df, x='year', y='teus');
plt.title('Total Volume (TEUs) of Imports Over Time')
plt.xticks(rotation=45);

Must be missing data here?

In [ ]:
#get year col
pldf['year'] = pldf.date_arrival.dt.to_period('Y')
#group value and volume by year
activityacrosstime_df = pldf[['year', 'container_piece_count']].groupby('year').sum()
#plot
sns.barplot(data=activityacrosstime_df, x='year', y='container_piece_count');
plt.title('Total Volume (Container Piece Count) of Imports Over Time')
plt.xticks(rotation=45);

In [ ]:
pldf.head()

## Carriers Over Time

In [ ]:
carriersovertime_df = pldf[['year', 'carrier_scac']].groupby('year').nunique()

In [ ]:
sns.barplot(data=carriersovertime_df, x='year', y='carrier_scac');
plt.title('Number of Unique Carriers Over Time');
plt.xticks(rotation=45);

Was there really a spike in carriers in 2010 and 2012? Or does this indicate changes in the way SCAC codes are assigned?

### Market share of the 50 largest carriers by estimated value

In [ ]:
#get largest carriers
carriers_df = pldf[pldf.year > pd.Period(2014)]
carriers_df = carriers_df[['year', 'carrier_scac', 'value_est']].groupby(['year', 'carrier_scac']).sum()

In [ ]:
carriers_df.columns = ['value_usd']
carriers_df.sort_values('value_usd', ascending=False, inplace=True)
carriers_df.sort_values('year', inplace=True)

In [ ]:
carriers_df.reset_index(inplace=True)
carriers_df.head()